$font-one: "Dancing Script",
sans-serif;
$font-two: "New Tegomin",
sans-serif;
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}

.header {
    height: 100vh;
    img {
        height: 100%;
        width: 100%;
        position: absolute;
    }
}