$font-one: "Dancing Script",
sans-serif;
$font-two: "New Tegomin",
sans-serif;
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
}

.header {
    height: 100vh;
    img {
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.navbar {
    height: 10vh;
    color: gold;
    font-family: $font-one;
    .title {
        justify-content: center;
        display: flex;
    }
    .list {
        display: flex;
        justify-content: center;
        li {
            padding-right: 20px;
            padding-top: 10px;
            font-family: $font-two;
            list-style: none;
            display: inline-block;
            a {
                text-decoration: none;
                color: white;
            }
            a:hover {
                color: grey;
                transition: 1s;
            }
        }
    }
}

.header-inner {
    height: 90vh;
    position: relative;
    .head {
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        h1:first-of-type {
            font-size: 40px;
            font-family: $font-one;
        }
        h1:last-of-type {
            font-size: 45px;
        }
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: grey;
            transition: 1s;
        }
    }
}

.btn {
    border: 1px solid gold;
    border-radius: 5px;
    background-color: gold;
    padding: 15px;
}

.services {
    padding-top: 70px;
    .container {
        text-align: center;
        h1 {
            font-size: 40px;
        }
        p {
            font-family: $font-two;
            margin-top: -3%;
            font-size: 20px;
            margin-bottom: 10%;
            font-weight: bolder;
        }
    }
}

.card {
    padding: 0 20px;
    .card-pic {
        padding: 30px 0;
        i {
            padding: 10px;
            border: 1px solid gold;
            border-radius: 50%;
            color: gold;
            transform: scale(3, 3);
        }
    }
}

.portfolio {
    padding: 70px 0;
    background-color: rgb(212, 212, 212);
    .container {
        text-align: center;
        h1 {
            font-size: 40px;
        }
        p {
            font-family: $font-two;
            margin-top: -3%;
            font-size: 20px;
            margin-bottom: 10%;
            font-weight: bolder;
        }
    }
}

.card-image {
    width: 100%;
    height: 350px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.portfolio .card {
    background-color: white;
    padding: 0;
    margin: 0 10px 0 0;
    p {
        margin-top: -10%;
        padding-bottom: 8%;
        font-weight: bolder;
    }
}

.footer {
    i {
        transform: scale(2.3, 2.3);
        margin: 4% 30px 0;
    }
}